.cell {
    display: inline-block;
    background: black;
    border: 1px solid white;
    width: 12px;
    height: 12px;
}

.alive {
    background: orange;
}

.grid {
    width: 140px; /* 14* W */
}